.header {
	padding-left: 2%;
	padding-right: 2%;
	background: #0a090f;
	position: sticky;
	top: 0;
	border-bottom: 1px solid #353539;
	z-index: 10;
	font-family: var(--font-heading);
}

.header:before,
.header:after {
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	background: #353539;
	content: "";
	display: block;
}

.header:before {
	left: 16.8%;
}


.header:after {
	right: 16.8%;
}

.header .header-container {
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0;
}

.header .header-logo {
	width: 15.5%;
}

.header .header-app {
	width: 15.5%;
}

.header-navigation {
	padding-right: 3.6875rem;
	flex: 1;
}

.header-navigation ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.header-navigation > ul {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.header-navigation > ul > li {
	position: relative;
}

.header-navigation > ul > li > button,
.header-navigation > ul > li > a {
	display: flex;
	align-items: center;
	user-select: none;
	white-space: nowrap;
	text-align: left;
	position: relative;
	padding-top: 1.4375rem;
	padding-bottom: 1.4375rem;
	line-height: 100%;
	font-size: 0.8125rem;
	color: var(--text-color);
	height: 100%;
}

.header-navigation > ul > li > button > img,
.header-navigation > ul > li > a > img {
	margin-left: 0.375rem;
}

.header-navigation > ul > li:not(:first-of-type) > button:after,
.header-navigation > ul > li:not(:first-of-type) > a :after {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	margin: 0 auto;
	width: 0;
	height: 1px;
	background: var(--text-color);
	transition: width .2s;
	content: "";
	z-index: 2;
}

.header-navigation > ul > li:not(:first-of-type):hover > button:after {
	width: 100%;
}

.header-navigation > ul > li:first-of-type > button:after {
	position: absolute;
	content: "";
	background-image: linear-gradient(90deg, #fc6756, #f8cf3e 38%, #26f4d0 52%, #724ce8);
	height: .125rem;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.header-navigation > ul > li:first-of-type > button {
	border-right: 1px solid #353539;
	padding-left: 2.3rem;
	padding-right: 2.3rem;
}

.header-navigation > ul > li:first-of-type > button > span {
	width: 1rem;
	height: 1rem;
	margin-right: .8125rem;
	transition: transform .2s;
	position: relative;
}

.header-navigation > ul > li:first-of-type > button > span > span {
	background-color: var(--bs-white);
	border-radius: 50%;
	width: .25rem;
	height: .25rem;
	transition: transform .2s;
	position: absolute;
	display: block;
}

.header-navigation > ul > li:first-of-type > button > span > span:nth-of-type(1) {
	top: 0;
	left: 0;
	transform: translate(.125rem, .125rem);
}

.header-navigation > ul > li:first-of-type > button > span > span:nth-of-type(2) {
	top: 0;
	right: 0;
	transform: translate(-.125rem, .125rem);
}

.header-navigation > ul > li:first-of-type > button > span > span:nth-of-type(3) {
	bottom: 0;
	left: 0;
	transform: translate(.125rem, -.125rem);
}

.header-navigation > ul > li:first-of-type > button > span > span:nth-of-type(4) {
	bottom: 0;
	right: 0;
	transform: translate(-.125rem, -.125rem);
}

.header-navigation > ul > li:first-of-type:hover > button > span {
	transform: rotate(45deg);
}

.header-navigation > ul > li:first-of-type:hover > button > span > span {
	transform: translate(0, 0);
}

.header-navigation > ul > li > ul,
.header-navigation > ul > li > .navigation-dropdown {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top: 100%;
	left: -20px;
	padding: 1.1875rem 1.125rem;
	background: #0a090f;
	border: 1px solid #353539;
	min-width: 14.8125rem;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: var(--transition-default);
}

.header-navigation > ul > li > .navigation-dropdown {
	padding: 0;
}

.header-navigation > ul > li:not(:first-of-type):hover > ul,
.header-navigation > ul > li:not(:first-of-type):hover > .navigation-dropdown {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.header-navigation > ul > li > ul > li {
	width: 100%;
}

.header-navigation > ul > li > ul > li > a {
	color: var(--text-color);
	padding: .8125rem 1.5rem .8125rem 0;
	transition: var(--transition-default);
	display: flex;
	align-items: center;
	text-align: left;
	white-space: nowrap;
	font-size: .8125rem;
	line-height: .925rem;
	background-image: url('../images/arrow.svg');
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: .625rem .625rem;
	width: 100%;
}

.header-navigation > ul > li > ul > li:hover > a {
	opacity: 0.65
}

.header-navigation > ul > li > ul > li > a > img {
	margin-right: .5625rem;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_grid {
	display: flex;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_grid .navigation-dropdown_column {
	display: flex;
	flex-direction: column;
	border-right: 1px solid #353539;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_grid .navigation-dropdown_column:last-of-type {
	border-right: 0;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_heading {
	color: var(--text-color);
	text-transform: uppercase;
	border-bottom: 1px solid #353539;
	font-size: 0.75rem;
	line-height: 1;
	padding: 1.25rem 1.125rem;
	display: flex;
	align-items: center;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_heading > img {
	margin-right: 1rem;
	width: 74px;
	height: 74px;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_heading.navigation-dropdown_heading__small {
	opacity: 0.6;
	padding: 0.875rem 1.125rem;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_heading.navigation-dropdown_heading__opacity {
	opacity: 0.6;
}

.header-navigation > ul > li > .navigation-dropdown ul {
	min-width: 10.875rem;
	padding: 1.1875rem 1.125rem;
}

.header-navigation > ul > li > .navigation-dropdown ul > li > a {
	color: var(--text-color);
	padding: .8125rem 1.5rem .8125rem 0;
	transition: var(--transition-default);
	display: flex;
	align-items: center;
	text-align: left;
	font-size: .8125rem;
	line-height: .925rem;
	background-image: url('../images/arrow.svg');
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: .625rem .625rem;
	width: 100%;
}

.header-navigation > ul > li > .navigation-dropdown ul > li > span {
	color: var(--text-color);
	transition: var(--transition-default);
	font-size: .8125rem;
	line-height: .925rem;
	opacity: 1;
	padding-top: .1875rem;
	padding-bottom: .1875rem;
}

.header-navigation > ul > li > .navigation-dropdown ul > li > span.opacity-text {
	opacity: 0.65;
	white-space: nowrap;
}

.header-navigation > ul > li > .navigation-dropdown ul > li > .navigation-dropdown_label {
	text-transform: uppercase;
	border: 1px solid #fff;
	margin-left: 1rem;
	padding: .1875rem .5rem;
	font-size: .75rem;
	line-height: 1;
}

.header-navigation > ul > li > .navigation-dropdown ul > li:hover > a {
	opacity: 0.65;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_column_large ul {
	min-width: 20.375rem;
	padding: 0;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_column_large ul > li {
	padding: .5rem .7rem;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_column_large ul > li + li {
	border-top: 1px solid #353539;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_column_large ul > li > a {
	padding: 0 2rem 0 0;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_column_large ul > li > a > img {
	margin-right: 1.125rem;
	width: 66px;
	height: 66px;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_column_medium ul {
	min-width: 14.75rem;
	padding: 1.125rem 1.625rem;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_column_medium ul > li {
	margin-bottom: 0.75rem;
	display: flex;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_link {
	margin-top: auto;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_link .navigation-dropdown_link__item {
	border-top: 1px solid #353539;
	padding: 1rem 1.5rem;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_link .navigation-dropdown_link__item > a {
	color: var(--text-color);
	transition: var(--transition-default);
	display: flex;
	align-items: center;
	text-align: left;
	justify-content: space-between;
	font-size: .8125rem;
	line-height: .925rem;
	width: 100%;
	text-transform: uppercase;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_link .navigation-dropdown_link__item > a > img {
	opacity: .6;
	width: 1.385rem;
	height: auto;
	margin-left: 26px;
	display: block;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_box {
	min-width: 14.75rem;
	padding: 1.125rem 1.625rem;
	display: flex;
	flex-direction: column;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_box > img {
	width: 74px;
	height: 74px;
	margin-bottom: 1rem;
	margin-left: -.375rem;
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_box > a {
	color: var(--text-color);
	text-transform: none;
	background-image: url('../images/arrow.svg');
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: .625rem .625rem;
	width: 100%;
	flex: 1;
	padding-top: 10px;
	padding-right: 1rem;
	font-size: .8125rem;
	line-height: .925rem;
	-webkit-transition: var(--transition-default);
	-moz-transition: var(--transition-default);
	-ms-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}

.header-navigation > ul > li > .navigation-dropdown .navigation-dropdown_box > a:hover {
	opacity: 0.65;
}

.header-navigation > ul > li > .navigation-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	top: 100%;
	gap: 0.375rem;
	background: #09090e;
	border: 1px solid #353539;
	min-width: 11.25rem;
	padding: 0.375rem;
	width: 100%;
	left: 0;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: var(--transition-default);
}

.header-navigation > ul > li:hover > .navigation-list {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.header-navigation > ul > li > .navigation-list .navigation-item {
	width: 100%;
	padding: 1rem .875rem;
	text-decoration: none;
	display: block;
	position: relative;
}

.header-navigation > ul > li > .navigation-list .navigation-item .navigation-item_logo {
	width: 100%;
	position: relative;
	z-index: 1;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.125rem;
	display: flex;
}

.header-navigation > ul > li > .navigation-list .navigation-item .navigation-item_logo .navigation-item_logo__image {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

.header-navigation > ul > li > .navigation-list .navigation-item .navigation-item_logo .navigation-item_logo__arrow {
	opacity: .6;
	width: 13px;
	margin-left: 1.5rem;
	transition: var(--transition-default);
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

.header-navigation > ul > li > .navigation-list .navigation-item .navigation-item_title {
	opacity: 0.6;
	transition: var(--transition-default);
	text-transform: uppercase;
	font-size: .75rem;
	line-height: .925rem;
	position: relative;
	z-index: 1;
}

.header-navigation > ul > li > .navigation-list .navigation-item .navigation-item_bg {
	opacity: .6;
	background-image: url(../images/navigation-item.webp);
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	transition: var(--transition-default);
	position: absolute;
	top: 0;
	left: 0;
}

.header-navigation > ul > li > .navigation-list .navigation-item.navigation-item_active .navigation-item_bg {
	opacity: 1;
	background-image: url(../images/navigation-active.webp);
}

.header-navigation > ul > li > .navigation-list .navigation-item.navigation-item_active .navigation-item_title {
	opacity: 1;
	color: #09090e;
}

.header-navigation > ul > li > .navigation-list .navigation-item.navigation-item_active .navigation-item_logo .navigation-item_logo__arrow {
	opacity: 1;
	width: 7.5px;
}

.header-navigation > ul > li > .navigation-list .navigation-item:hover .navigation-item_title,
.header-navigation > ul > li > .navigation-list .navigation-item:hover .navigation-item_logo .navigation-item_logo__arrow,
.header-navigation > ul > li > .navigation-list .navigation-item:hover .navigation-item_bg {
	opacity: 1;
}

.section-heading {
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	display: flex;
}

.section-heading .section-heading_title {
	padding-top: 36px;
	position: relative;
}

.section-heading .section-heading_title:before,
.section-heading .section-heading_title:after {
	background-color: var(--text-color);
	border-radius: 50%;
	width: 4px;
	height: 4px;
	position: absolute;
	top: 0;
	display: block;
	content: "";
}

.section-heading .section-heading_title:before {
	left: 5px;
}

.section-heading .section-heading_title:after {
	left: 15px;
}

.section-heading .section-heading_title .section-heading_title__inner {
	font-size: 3.75rem;
	color: var(--text-color);
	letter-spacing: .09rem;
	font-weight: 400;
	line-height: 1.07;
}

.section-heading .section-heading_title .section-heading_title__inner___border {
	display: inline-block;
	padding: 8px 1.3125rem 10px;
	margin: 0 0 8px;
	position: relative;
}

.section-heading .section-heading_title .section-heading_title__inner___border:before,
.section-heading .section-heading_title .section-heading_title__inner___border:after {
	position: absolute;
	width: 18px;
	height: 1px;
	background: #807f85;
	content: "";
}

.section-heading .section-heading_title .section-heading_title__inner___border:before {
	top: 0;
	left: -5px;
	transform: rotate(-45deg);
	transform-origin: top right;
}

.section-heading .section-heading_title .section-heading_title__inner___border:after {
	bottom: 0;
	right: -5px;
	transform: rotate(-45deg);
	transform-origin: bottom left;
}

.section-heading .section-heading_title .section-heading_title__inner___border > span:before,
.section-heading .section-heading_title .section-heading_title__inner___border > span:after {
	position: absolute;
	width: calc(100% - 13px);
	height: 1px;
	background: #807f85;
	content: "";
}

.section-heading .section-heading_title .section-heading_title__inner___border > span:before {
	top: 0;
	left: 13px
}

.section-heading .section-heading_title .section-heading_title__inner___border > span:after {
	bottom: 0;
	right: 13px;
}

.section-heading .section-heading_title .section-heading_title__inner___border > span > span:before,
.section-heading .section-heading_title .section-heading_title__inner___border > span > span:after {
	position: absolute;
	width: 1px;
	height: calc(100% - 13px);
	background: #807f85;
	content: "";
}

.section-heading .section-heading_title .section-heading_title__inner___border > span > span:before {
	bottom: 0;
	left: 0
}

.section-heading .section-heading_title .section-heading_title__inner___border > span > span:after {
	top: 0;
	right: 0;
}

.section-heading.section-heading_lg .section-heading_title .section-heading_title__inner {
	font-size: 4.75rem;
}

.section-heading.section-heading_lg .section-heading_title .section-heading_title__inner___border > span:after {
	width: 67%;
}

.section-heading.section-heading_lg .section-heading_title .section-heading_title__inner___border > span > span:before {
	bottom: auto;
	top: 13px;
	left: 0;
	height: calc(100% - 30px);
}

.section-heading.section-heading_lg .section-heading_title .section-heading_title__inner___border > span > span:after {
	display: none;
}

.section-heading .section-heading_desc {
	margin-right: 15.6%;
	padding-top: 40px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 1.125rem;
	width: 15.7%;
}

.button-theme {
	padding: .8125rem;
	font-size: .75rem;
	position: relative;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	user-select: none;
}

.button-theme:before,
.button-theme:after {
	position: absolute;
	width: 10px;
	height: 1px;
	content: "";
}

.button-theme * {
	pointer-events: none;
}

.button-theme .button-theme_decor:before, .button-theme .button-theme_decor:after {
	position: absolute;
	content: "";
}

.button-theme .button-theme_decor.button-theme_decor_1:before,
.button-theme .button-theme_decor.button-theme_decor_1:after {
	width: calc(100% - 8px);
	height: 1px;
}

.button-theme .button-theme_decor.button-theme_decor_2:before,
.button-theme .button-theme_decor.button-theme_decor_2:after {
	position: absolute;
	width: 1px;
	content: "";
}

.button-theme.button-theme_primary:before {
	top: 0;
	left: -3px;
	transform: rotate(-45deg);
	transform-origin: top right;
	background: linear-gradient(to right, #fb6e53 0%, #fb7454 100%);
}

.button-theme.button-theme_primary:after {
	bottom: 0;
	right: -3px;
	transform: rotate(-45deg);
	transform-origin: bottom left;
	background: linear-gradient(to right, #74e79a 0%, #74e79a 100%);
}

.button-theme.button-theme_primary .button-theme_decor.button-theme_decor_1:before {
	top: 0;
	left: 7px;
	background: linear-gradient(to right, #fb7454 0%, #bcda68 100%);
}

.button-theme.button-theme_primary .button-theme_decor.button-theme_decor_1:after {
	bottom: 0;
	right: 7px;
	background: linear-gradient(to right, #6072e2 0%, #74e79a 100%);
}

.button-theme.button-theme_primary .button-theme_decor.button-theme_decor_2:before {
	bottom: 0;
	left: 0;
	height: 56%;
	background: linear-gradient(to bottom, #6e52e5 0%, #6072e2 100%);
}

.button-theme.button-theme_primary .button-theme_decor.button-theme_decor_2:after {
	top: 0;
	right: 0;
	height: calc(100% - 7px);
	background: linear-gradient(to bottom, #bcda68 0%, #74e79a 100%);
}

.button-theme.button-theme_primary .button-theme_text {
	color: var(--text-color);
	text-transform: uppercase;
	padding-left: 1.4375rem;
	font-size: .8125rem;
	line-height: 1;
	text-decoration: none;
	display: block;
	position: relative;
}

.button-theme.button-theme_primary .button-theme_text:before,
.button-theme.button-theme_primary .button-theme_text:after {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 0.25rem;
	height: 0.25rem;
	background-color: var(--text-color);
	border-radius: 50%;
	content: "";
}

.button-theme.button-theme_primary .button-theme_text:before {
	left: 0;
}

.button-theme.button-theme_primary .button-theme_text:after {
	left: 0.4375rem;
}

.link-more {
	font-family: var(--font-heading);
	color: #efefe5;
	text-transform: uppercase;
	align-items: center;
	font-size: .8125rem;
	text-decoration: none;
	transition: opacity .2s;
	display: flex;
}

.link-more:hover,
.link-more:active {
	color: #efefe5;
}

.link-more img {
	max-width: 100%;
	height: auto;
	display: block;
	opacity: 0.6;
	pointer-events: none;
}

.link-more.link-more_sm__icon img {
	width: 1.2rem;
	margin-left: 1rem;
}

.vertical-line {
	position: fixed;
	top: 0;
	height: 100%;
	width: 1px;
	background: #353539;
}

.vertical-line.vertical-line_left {
	left: 16.8%;
}

.vertical-line.vertical-line_center {
	left: 50%;
	transform: translateX(-50%);
}

.vertical-line.vertical-line_right {
	right: 16.8%;
}

.section-notification {
	padding: 1rem 2%;
	background: #121212;
	position: relative;
	overflow: hidden;
}

.section-notification .notification-content .notification-content_link {
	flex-shrink: 0;
	--line: 1;
	color: var(--text-color);
	opacity: 0.6;
	font-size: 0.875rem;
	line-height: 1;
	text-decoration: none;
	-webkit-transition: var(--transition-default);
	-moz-transition: var(--transition-default);
	-ms-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}

.section-notification .notification-content .notification-content_link:hover {
	opacity: 1;
}

.section-notification .notification-content .notification-content_close {
	background: #0000 url('../images/close.svg') center center/contain no-repeat scroll;
	width: 10px;
	height: 10px;
}

.section-container {
	padding-left: 2%;
	padding-right: 2%;
}

.section-container_small {
	width: 69.03%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.section-hero {
	position: relative;
	overflow: hidden;
	font-family: var(--font-heading);
}

.section-hero .section-container {
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 86vh;
}

.section-hero .hero-info {
	padding-top: 20vh;
	padding-bottom: 100px;
	display: flex;
}

.section-hero .hero-info .hero-info_left,
.section-hero .hero-info .hero-info_right {
	width: 100%;
}

.section-hero .hero-info .hero-info_slider {
	height: 5.3125rem;
	border: 1px solid var(--text-color);
	position: relative;
}

.section-hero .hero-info .hero-info_slider .hero-info_quote {
	border: 1px solid var(--text-color);
	justify-content: center;
	align-items: center;
	width: 66px;
	height: 66px;
	display: flex;
	position: absolute;
	top: -66px;
	left: -1px;
}

.section-hero .hero-info .hero-info_slider .hero-info_corner [class*=hero-info_corner] {
	position: absolute;
	height: 15px;
	width: 15px;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-hero .hero-info .hero-info_slider .hero-info_corner .hero-info_corner__top {
	top: -83px;
	left: -22px;
}

.section-hero .hero-info .hero-info_slider .hero-info_corner .hero-info_corner__bottom {
	bottom: -17px;
	left: -22px;
	transform-style: preserve-3d;
	transform: rotateX(180deg) rotateY(0) rotate(0);
}

.section-hero .hero-info .hero-info_slider .hero-info_slider__inner {
	height: 10.625rem;
	overflow: hidden;
	position: relative;
}

.section-hero .hero-info .hero-info_slider .hero-info_slider__inner .hero-info_slider__text {
	text-transform: uppercase;
	max-width: 20.25rem;
	padding: 1.375rem;
	font-size: .875rem;
	line-height: 1.42;
	color: var(--text-color);
	user-select: none;
	pointer-events: none;
	opacity: 0.5;
	transition: var(--transition-default);
}

.section-hero .hero-info .hero-info_slider .hero-info_slider__inner .swiper-slide-active .hero-info_slider__text {
	opacity: 1;
}

.section-hero .hero-info .hero-info_slider .hero-info_slider__fade {
	z-index: 2;
	background-color: #0000;
	background-image: linear-gradient(#09090e00, #0a090f);
	height: 56px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.section-hero .hero-info .hero-info_feature {
	color: #d8d8cf;
	text-align: right;
	border-top: 1px solid #353539;
	justify-content: flex-end;
	padding: .5rem 1.125rem .4375rem 42%;
	font-size: .75rem;
	line-height: 1;
	display: flex;
}

.section-hero .hero-info .hero-info_feature > span {
	flex: 1;
}

.section-hero .hero-info .hero-info_feature.hero-info_feature__transparent {
	opacity: 0.6;
}

.section-hero .hero-info .hero-info_feature__slider {
	color: #d8d8cf;
	text-align: right;
	border-left: 0;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1.125rem;
	padding: 0 0 0 42%;
	font-size: .75rem;
	line-height: 1;
	display: flex;
	position: relative;
	overflow: hidden;
}

.section-hero .hero-info .hero-info_feature__slider:before {
	position: absolute;
	display: block;
	content: "";
	height: 100%;
	width: 100%;
	inset: 0;
	pointer-events: none;
	user-select: none;
	border: 1px solid var(--text-color);
	border-left: 0;
}

.section-hero .hero-info .hero-info_feature__slider {
	height: calc(67 / 20 * 1rem);
}

.section-hero .hero-info .hero-info_feature__slider .hero-info_feature__slider___item {
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	transition: all .3s;
	display: flex;
	user-select: none;
	pointer-events: none;
}

.section-hero .hero-info .hero-info_feature__slider .hero-info_feature__slider___text {
	flex: 1;
	color: #d8d8cf;
	text-transform: none;
	line-height: 1;
	font-size: 0.75rem;
}

.section-hero .hero-info .hero-info_feature__slider .hero-info_feature__slider___score {
	margin-left: 1.125rem;
	padding: 1rem 1.125rem;
	font-size: 1.25rem;
	border-top: 1px solid var(--text-color);
	border-left: 1px solid var(--text-color);
}

.section-hero .hero-info .hero-info_feature__slider .swiper-slide .hero-info_feature__slider___score {
	transform: translateY(1px);
	border-bottom: 1px solid var(--text-color);
}

.section-hero .hero-info .hero-info_feature__slider .swiper-slide.swiper-slide-active .hero-info_feature__slider___score {
	transform: translateY(0);
	border-bottom: 0;
}

.section-hero .hero-expand {
	display: flex;
	z-index: 9;
	align-items: flex-end;
	margin-bottom: 0;
	position: relative;
	font-family: var(--font-theme);
}

.section-hero .hero-expand .hero-expand_left {
	padding-bottom: 10px;
}

.section-hero .hero-expand .hero-expand_center {
	z-index: 9;
	width: 34.3%;
	margin-left: auto;
	padding: 0 26px;
	position: relative;
}

.section-hero .hero-expand .hero-expand_text {
	font-size: 1.125rem;
	color: var(--text-color);
}

.section-hero .hero-expand .hero-expand_right {
	text-align: right;
	justify-content: flex-end;
	width: 15.6%;
	padding-left: 26px;
	display: flex;
}

.section-hero .hero-expand .hero-expand_scroll {
	align-items: center;
	text-decoration: none;
	display: flex;
}

.section-hero .hero-expand .hero-expand_scroll .hero-expand_scroll__text {
	color: #efefe599;
	margin-right: 24px;
	font-size: .75rem;
	font-family: var(--font-heading);
}

.section-hero .hero-expand .hero-expand_scroll .hero-expand_scroll__icon {
	justify-content: center;
	align-items: center;
	width: 76px;
	height: 76px;
	display: flex;
	position: relative;
}

.section-hero .hero-expand .hero-expand_scroll .hero-expand_scroll__icon .hero-expand_scroll_corner___top {
	opacity: .3;
	transform-style: preserve-3d;
	top: -10px;
	right: 0;
	transform: rotateX(0) rotateY(180deg) rotate(0);
	width: 15px;
	height: 15px;
	position: absolute;
}

.section-hero .hero-expand .hero-expand_scroll .hero-expand_scroll__icon .hero-expand_scroll_corner___bottom {
	opacity: .3;
	transform-style: preserve-3d;
	bottom: -10px;
	left: 0;
	transform: rotateX(180deg) rotateY(0) rotate(0);
	width: 15px;
	height: 15px;
	position: absolute;
}

.section-hero .hero-expand .hero-expand_scroll:hover .hero-expand_scroll__icon > img {
	transform: translate(0, 20%);
}

.section-hero .hero-expand .hero-sub {
	text-transform: uppercase;
	margin-bottom: 30px;
	font-size: 1.125rem;
	line-height: 1.33;
	font-family: var(--font-heading);
}

.section-hero .hero-expand .hero-heading {
	flex-direction: column;
	align-items: flex-start;
	display: flex;
	font-size: 4.75rem;
	line-height: 1;
	position: relative;
}

.section-hero .hero-expand .hero-heading .hero-heading_line {
	background-color: #ffffff2e;
	width: 100vw;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 100%;
}

.section-hero .hero-expand .hero-heading .hero-heading_title {
	padding: 0.75rem 1.125rem 0;
	display: flex;
	line-height: 1.2;
}

.section-hero .hero-expand .hero-heading .hero-heading_stroke {
	position: absolute;
	top: 0;
	left: 0;
}

.section-hero .hero-expand .hero-heading .hero-heading_stroke svg {
	width: 22.3125rem;
	height: auto;
}

@media screen and (max-width: 991px) {
	.section-hero .hero-expand .hero-heading .hero-heading_stroke svg {
		width: 18rem;
	}
}

@media screen and (min-width: 1280px) {
	.section-hero .hero-expand .hero-heading .hero-heading_stroke svg {
		width: 26.3125rem;
	}
}

.section-hero .hero-expand .hero-heading.hero-heading_bottom {
	padding: 0 1.125rem;
	position: relative;
	margin-bottom: 0;
}

.section-hero .hero-expand .hero-heading.hero-heading_bottom .hero-heading_title {
	padding: 0;
	line-height: 1.1;
}

.section-hero .hero-expand .hero-heading.hero-heading_bottom .hero-heading_stroke {
	top: -.3125rem;
}

.section-hero .hero-expand .hero-heading_bottom .hero-heading_stroke svg {
	width: 5.7rem;
	height: auto;
}

@media screen and (max-width: 991px) {
	.section-hero .hero-expand .hero-heading.hero-heading_bottom .hero-heading_stroke svg {
		width: 5rem;
	}
}

@media screen and (min-width: 1280px) {
	.section-hero .hero-expand .hero-heading.hero-heading_bottom .hero-heading_stroke svg {
		width: 7.125rem;
	}
}

.section-unlimited {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	padding-top: 16vh;
	padding-bottom: 30px;
}

.section-unlimited .unlimited-corner {
	width: 33.2%;
	left: 16.8%;
	height: 6.125rem;
	border: 1px solid var(--text-color);
	pointer-events: none;
	position: absolute;
	top: 16vh;
	z-index: 2;
}

.section-unlimited .unlimited-corner [class*=unlimited-corner_] {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 15px;
	height: 15px;
}

.section-unlimited .unlimited-corner .unlimited-corner_top {
	left: -22px;
	top: -18px;
}

.section-unlimited .unlimited-corner .unlimited-corner_left {
	left: -22px;
	bottom: -18px;
}

.section-unlimited .unlimited-corner .unlimited-corner_left > img {
	transform-style: preserve-3d;
	transform: rotateX(180deg) rotateY(0) rotate(0);
}

.section-unlimited .unlimited-corner .unlimited-corner_bottom {
	bottom: -18px;
	right: -22px;
}

.section-unlimited .unlimited-corner .unlimited-corner_bottom > img {
	transform: rotate(180deg);
}

.section-unlimited .unlimited-corner .unlimited-corner_right {
	right: -22px;
	top: -18px;
}

.section-unlimited .unlimited-corner .unlimited-corner_right > img {
	transform-style: preserve-3d;
	transform: rotateX(0) rotateY(180deg) rotate(0);
}

.section-unlimited .unlimited-slider {
	width: 83.2%;
	margin-left: 16.8%;
}

.section-unlimited .unlimited-slider .unlimited-slider_item {
	display: flex;
	position: relative;
	background-color: #0a090f;
	border: 1px solid #efefe5;
	opacity: .35;
	pointer-events: none;
	user-select: none;
	font-family: var(--font-heading);
}

.section-unlimited .unlimited-slider .swiper-slide-active .unlimited-slider_item {
	opacity: 1;
}

.section-unlimited .unlimited-slider .unlimited-slider_item .unlimited-slider_number {
	border-right: 1px solid var(--text-color);
	justify-content: center;
	align-items: center;
	width: 5.625rem;
	height: 6rem;
	display: flex
}

.section-unlimited .unlimited-slider .unlimited-slider_item .unlimited-slider_text {
	text-align: center;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	padding: 16px;
	font-weight: 400;
	display: flex;
	color: var(--text-color);
	flex: 1;
}

.section-unlimited .unlimited-bottom {
	z-index: 3;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	padding-bottom: 0;
	display: flex;
	position: relative;
}

.section-unlimited .unlimited-bottom .section-container {
	width: 100%;
}

.section-awards {
	padding: 9vh 0 7vh;
}

.section-awards .section-container {
	width: 100%;
}

.section-awards .awards-marquee {
	border: 0 #353539;
	width: 84.5%;
	display: flex;
	position: relative;
}

.section-awards .awards-marquee .awards-marquee_heading {
	border: 1px solid #353539;
	border-right-width: 0;
	width: 18.4%;
	margin-bottom: auto;
}

.section-awards .awards-marquee .awards-marquee_heading .awards-marquee_heading__title {
	text-transform: uppercase;
	padding: 43px 12.2%;
	font-family: var(--font-heading);
	font-size: .875rem;
}

.section-awards .awards-marquee .awards-marquee_content {
	background-color: #09090e;
	border: 1px solid #353539;
	border-left-width: 0;
	flex-direction: column;
	flex: 1;
	display: flex;
	position: relative;
	overflow: hidden;
}

.section-awards .awards-marquee .awards-marquee_content:before {
	z-index: 3;
	background-image: linear-gradient(90deg, #09090e, #09090e00);
	width: 15%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	content: "";
}

.section-awards .awards-marquee .awards-marquee_content:after {
	z-index: 3;
	background-image: linear-gradient(90deg, #09090e00, #09090e);
	width: 15%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: block;
	content: "";
}

.section-awards .awards-marquee .awards-marquee_list {
	display: flex;
}

.section-awards .awards-marquee .awards-marquee_list .awards-marquee_item {
	-webkit-animation: marqueeScroll 30s linear infinite;
	-o-animation: marqueeScroll 30s linear infinite;
	animation: marqueeScroll 30s linear infinite;
}

.section-awards .awards-marquee .awards-item {
	border-left: 1px solid #353539;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	min-width: 16.25rem;
	margin-top: 1.625rem;
	margin-bottom: 1.625rem;
	padding-left: 1.625rem;
	padding-right: 1.625rem;
	text-decoration: none;
	transition: opacity .2s;
	display: flex;
	color: var(--text-color);
}

.section-awards .awards-marquee .awards-item:hover {
	opacity: .6;
}

.section-awards .awards-marquee .awards-item .awards-item_logo {
	margin-bottom: 2rem;
	padding: 10px 2px;
	position: relative;
	display: inline-block;
}

.section-awards .awards-marquee .awards-item .awards-item_logo:before,
.section-awards .awards-marquee .awards-item .awards-item_logo:after {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	background: url('../images/icon-corner.svg') center center/cover no-repeat;
	content: "";
	opacity: .4;
}

.section-awards .awards-marquee .awards-item .awards-item_logo:before {
	top: 0;
	left: 0;
}

.section-awards .awards-marquee .awards-item .awards-item_logo:after {
	bottom: 0;
	right: 0;
	transform: rotate(180deg);
}

.section-awards .awards-marquee .awards-item .awards-item_logo > img {
	height: auto;
	display: block;
	max-width: 100%;
}

.section-awards .awards-marquee .awards-item .awards-item_name {
	font-family: var(--font-heading);
	text-transform: uppercase;
	font-size: 0.875rem;
}

.section-awards .awards-marquee .awards-item .awards-item_name > span {
	opacity: 0.6;
}

@keyframes marqueeScroll {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

.section-solutions {
	position: relative;
	z-index: 2;
	padding-top: 12vh;
	padding-bottom: 8vh;
}

.section-solutions .section-container {
	width: 100%;
}

.section-solutions .solutions-list {
	width: 84.5%;
	margin-top: 78px;
	padding-top: 0;
	position: relative;
}

.section-solutions .solutions-item {
	border-bottom: 1px solid #353539;
	margin-top: 0;
	padding-top: 50px;
	color: var(--text-color);
}

.section-solutions .solutions-item .solutions-item_number {
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	font-family: var(--font-heading);
	font-size: .875rem;
	display: flex;
	position: relative;
}

.section-solutions .solutions-item .solutions-item_number:before,
.section-solutions .solutions-item .solutions-item_number:after {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 14px;
	content: "";
}

.section-solutions .solutions-item .solutions-item_number:before {
	top: 0;
	left: 0;
	background: url('../images/icon-corner-top-left.svg') center center/cover no-repeat;
}

.section-solutions .solutions-item .solutions-item_number:after {
	bottom: 0;
	right: 0;
	background: url('../images/icon-corner-bottom-right.svg') center center/cover no-repeat;
}

.section-solutions .solutions-item .solutions-item_row {
	margin-top: 25px;
	display: flex;
}

.section-solutions .solutions-item .solutions-item_column {
	flex-direction: column;
	flex: none;
	justify-content: space-between;
	display: flex
}

.section-solutions .solutions-item .solutions-item_column.solutions-item_column__left {
	width: 59.2%;
	min-height: 38vh;
	padding-right: 18px;
}

.section-solutions .solutions-item .solutions-item_title {
	font-weight: 400;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.25rem;
}

.section-solutions .solutions-item .solutions-item_desc {
	width: 48%;
	margin-top: 25px;
	padding-bottom: 28px;
}

.section-solutions .solutions-item .solutions-item_column.solutions-item_column__right {
	width: 40.8%;
}

.section-solutions .solutions-item .solutions-item_featured {
	border-top: 1px solid #353539;
}

.section-solutions .solutions-item .solutions-item_featured .solutions-item_featured__item {
	text-align: right;
	text-transform: uppercase;
	border-bottom: 1px solid #353539;
	padding: 12px 18px;
	font-family: var(--font-heading);
	font-size: .875rem;
	line-height: 1;
}

.section-solutions .solutions-item .solutions-item_actions .solutions-item_actions__item {
	border-top: 1px solid #353539;
	justify-content: flex-end;
	padding: 12px 18px;
	display: flex
}

.section-solutions .solutions-item .solutions-item_actions .solutions-item_actions__item .solutions-item_actions__item___label{
	text-transform: uppercase;
	border: 1px solid #efefe5;
	padding: .8125rem 1rem;
	font-family: var(--font-heading);
	font-size: .8125rem;
	line-height: 1;
}