.header {
	padding-left: 2%;
	padding-right: 2%;
	background: #0a090f;
	position: sticky;
	top: 0;
	border-bottom: 1px solid #353539;
	z-index: 10;
}

.header:before,
.header:after {
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	background: #353539;
	content: "";
	display: block;
}

.header:before {
	left: 16.8%;
}


.header:after {
	right: 16.8%;
}

.header .header-container {
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0;
}

.header .header-logo {
	width: 15.5%;
}

.header .header-app {
	width: 15.5%;
}

.header-navigation {
	padding-right: 3.6875rem;
	flex: 1;
}

.header-navigation ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.header-navigation > ul {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.header-navigation > ul > li {
	position: relative;
}

.header-navigation > ul > li > button,
.header-navigation > ul > li > a {
	display: flex;
	align-items: center;
	user-select: none;
	white-space: nowrap;
	text-align: left;
	position: relative;
	padding-top: 1.4375rem;
	padding-bottom: 1.4375rem;
	line-height: 100%;
	font-size: 0.8125rem;
	color: var(--text-color);
	height: 100%;
}

.header-navigation > ul > li > button > img,
.header-navigation > ul > li > a > img {
	margin-left: 0.375rem;
}

.header-navigation > ul > li:not(:first-of-type) > button:after,
.header-navigation > ul > li:not(:first-of-type) > a :after {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	margin: 0 auto;
	width: 0;
	height: 1px;
	background: var(--text-color);
	transition: width .2s;
	content: "";
	z-index: 2;
}

.header-navigation > ul > li:not(:first-of-type):hover > button:after {
	width: 100%;
}

.header-navigation > ul > li:first-of-type > button:after {
	position: absolute;
	content: "";
	background-image: linear-gradient(90deg, #fc6756, #f8cf3e 38%, #26f4d0 52%, #724ce8);
	height: .125rem;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.header-navigation > ul > li:first-of-type > button {
	border-right: 1px solid #353539;
	padding-left: 2.3rem;
	padding-right: 2.3rem;
}

.header-navigation > ul > li:first-of-type > button > span {
	width: 1rem;
	height: 1rem;
	margin-right: .8125rem;
	transition: transform .2s;
	position: relative;
}

.header-navigation > ul > li:first-of-type > button > span > span {
	background-color: var(--bs-white);
	border-radius: 50%;
	width: .25rem;
	height: .25rem;
	transition: transform .2s;
	position: absolute;
	display: block;
}

.header-navigation > ul > li:first-of-type > button > span > span:nth-of-type(1) {
	top: 0;
	left: 0;
	transform: translate(.125rem, .125rem);
}

.header-navigation > ul > li:first-of-type > button > span > span:nth-of-type(2) {
	top: 0;
	right: 0;
	transform: translate(-.125rem, .125rem);
}

.header-navigation > ul > li:first-of-type > button > span > span:nth-of-type(3) {
	bottom: 0;
	left: 0;
	transform: translate(.125rem, -.125rem);
}

.header-navigation > ul > li:first-of-type > button > span > span:nth-of-type(4) {
	bottom: 0;
	right: 0;
	transform: translate(-.125rem, -.125rem);
}

.header-navigation > ul > li:first-of-type:hover > button > span {
	transform: rotate(45deg);
}

.header-navigation > ul > li:first-of-type:hover > button > span > span {
	transform: translate(0, 0);
}

.header-navigation > ul > li > ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top: 100%;
	left: -20px;
	padding: 1.1875rem 1.125rem;
	background: #0a090f;
	border: 1px solid #353539;
	min-width: 14.8125rem;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: var(--transition-default);
}

.header-navigation > ul > li:not(:first-of-type):hover > ul {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.header-navigation > ul > li > ul > li {
	width: 100%;
}

.header-navigation > ul > li > ul > li > a {
	color: var(--text-color);
	padding: .8125rem 1.5rem .8125rem 0;
	transition: var(--transition-default);
	display: flex;
	align-items: center;
	text-align: left;
	white-space: nowrap;
	font-size: .8125rem;
	line-height: .8125rem;
	background-image: url('../images/arrow.svg');
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: .625rem .625rem;
	width: 100%;
}

.header-navigation > ul > li > ul > li:hover > a {
	opacity: 0.65
}

.header-navigation > ul > li > ul > li > a > img {
	margin-right: .5625rem;
}

.button-theme {
	padding: .8125rem;
	font-size: .75rem;
	position: relative;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	user-select: none;
}

.button-theme:before,
.button-theme:after {
	position: absolute;
	width: 10px;
	height: 1px;
	content: "";
}

.button-theme * {
	pointer-events: none;
}

.button-theme .button-theme_decor:before, .button-theme .button-theme_decor:after {
	position: absolute;
	content: "";
}

.button-theme .button-theme_decor.button-theme_decor_1:before,
.button-theme .button-theme_decor.button-theme_decor_1:after {
	width: calc(100% - 8px);
	height: 1px;
}

.button-theme .button-theme_decor.button-theme_decor_2:before,
.button-theme .button-theme_decor.button-theme_decor_2:after {
	position: absolute;
	width: 1px;
	content: "";
}

.button-theme.button-theme_primary:before {
	top: 0;
	left: -3px;
	transform: rotate(-45deg);
	transform-origin: top right;
	background: linear-gradient(to right, #fb6e53 0%, #fb7454 100%);
}

.button-theme.button-theme_primary:after {
	bottom: 0;
	right: -3px;
	transform: rotate(-45deg);
	transform-origin: bottom left;
	background: linear-gradient(to right, #74e79a 0%, #74e79a 100%);
}

.button-theme.button-theme_primary .button-theme_decor.button-theme_decor_1:before {
	top: 0;
	left: 7px;
	background: linear-gradient(to right, #fb7454 0%, #bcda68 100%);
}

.button-theme.button-theme_primary .button-theme_decor.button-theme_decor_1:after {
	bottom: 0;
	right: 7px;
	background: linear-gradient(to right, #6072e2 0%, #74e79a 100%);
}

.button-theme.button-theme_primary .button-theme_decor.button-theme_decor_2:before {
	bottom: 0;
	left: 0;
	height: 56%;
	background: linear-gradient(to bottom, #6e52e5 0%, #6072e2 100%);
}

.button-theme.button-theme_primary .button-theme_decor.button-theme_decor_2:after {
	top: 0;
	right: 0;
	height: calc(100% - 7px);
	background: linear-gradient(to bottom, #bcda68 0%, #74e79a 100%);
}

.button-theme.button-theme_primary .button-theme_text {
	color: var(--text-color);
	text-transform: uppercase;
	padding-left: 1.4375rem;
	font-size: .8125rem;
	line-height: 1;
	text-decoration: none;
	display: block;
	position: relative;
}

.button-theme.button-theme_primary .button-theme_text:before,
.button-theme.button-theme_primary .button-theme_text:after {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 0.25rem;
	height: 0.25rem;
	background-color: var(--text-color);
	border-radius: 50%;
	content: "";
}

.button-theme.button-theme_primary .button-theme_text:before {
	left: 0;
}

.button-theme.button-theme_primary .button-theme_text:after {
	left: 0.4375rem;
}

.vertical-line {
	position: fixed;
	top: 0;
	height: 100%;
	width: 1px;
	background: #353539;
}

.vertical-line.vertical-line_left {
	left: 16.8%;
}

.vertical-line.vertical-line_center {
	left: 50%;
	transform: translateX(-50%);
}

.vertical-line.vertical-line_right {
	right: 16.8%;
}

.section-notification {
	padding: 1rem 2%;
	background: #121212;
	position: relative;
	overflow: hidden;
}

.section-notification .notification-content .notification-content_link {
	flex-shrink: 0;
	--line: 1;
	color: var(--text-color);
	opacity: 0.6;
	font-size: 0.875rem;
	line-height: 1;
	text-decoration: none;
	--webkit-text-stroke-color: var(--text-color);
	-webkit-transition: var(--transition-default);
	-moz-transition: var(--transition-default);
	-ms-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}

.section-notification .notification-content .notification-content_link:hover {
	opacity: 1;
}

.section-notification .notification-content .notification-content_close {
	background: #0000 url('../images/close.svg') center center/contain no-repeat scroll;
	width: 14px;
	height: 14px;
}